html {
    scroll-behavior: smooth;
  }  
body{
    margin: 0;
    background-color: #202020;
    color: white;
    font-family: "Merriweather", serif;
    text-underline-position: from-font;
    font-weight: 400;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: whitesmoke;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 0.5rem;
}
header h1,
.header-icon{
    margin-left: 0.5em;
}

header div{
    display: flex;
    align-items: center;
    margin-left: 1.25em;
} 
.header-icon{
    width: 34.25px;
    height: 34.25px;  
    border-radius: 50%;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav li{
    font-size: 0.5rem;
}
nav ul,
nav li{
    margin-right: 1.25em;
}
nav a{
    text-decoration: none;
    color: whitesmoke;
}
.hero{
   width: 100%;
   color: whitesmoke;
} 
.hero-image{
    height: 293px;
    width: 100%;
    position: relative;
    opacity: 0.4;
}
.hero-article{
    position: absolute;
    top: 6em;
}
.hero-article h3,
.hero-article h2,
.more-info-header h3,
.more-info-header h2{
    margin-left: 0.5em;
}
.hero-article p,
.more-info-header-p{
    margin-left: 1em;
}
.hero-article h3,
.home h3,
.more-info h3,
.about-me h3{
    font-size: 0.75rem;
    line-height: 15.08px;
    text-align: left;
}
.hero-article h2,
.home h2,
.more-info h2,
.about-me h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 34.62px;
    letter-spacing: -0.03em;
    text-align: left;
}
.hero-article p,
.home p,
.more-info p,
.about-me p{
    font-size: 1rem;
    line-height: 20.11px;
    text-align: left;
}
.home section,
.more-info section,
.about-me section{
    box-shadow: 0 0 0.4px whitesmoke;
    border-radius: 0.5em;
}
.home img,
.more-info img,
.about-me section img{
    height: 232px;
    width: 100%;
    border-radius: 5px;
}
.home article,
.more-info article,
.about-me article{
    margin-left: 1em;
}
.home h3{
    margin-bottom: 0.5em;
}
.home h2{
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}
.home p{
    margin-top: 0.2em;
}
.home{
    display: grid;
    grid-template-columns: 1px 1fr 1px;
    gap: 1em 1em;
    grid-template-areas: 
    ". . ."
    ". A ."
    ". B ."
    ". C ."
    ". D ."
    ". E ."
    ". F ."
    ". M ."
    ". . .";
}
.blog1{
    grid-area: A;
}
.blog2{
    grid-area: B;
}
.blog3{
    grid-area: C;
}
.blog4{
    grid-area: D;
   
}
.blog5{
    grid-area: E;
   
}
.blog6{
    grid-area: F;
}
.blog-more{
    grid-area: M;
    text-align: center;
    color: black;
}
.blog4,
.blog5,
.blog6{
    display: none;
}
.blog1,
.blog2,
.blog3,
.blog4,
.blog5,
.blog6,
.blog-more{
    cursor: pointer;
}

footer{
    width: 100%;
    height: 105px;
    background-color: white;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #202020;
}
footer h2{
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 12.98px;
    letter-spacing: -0.03em;
    text-align: center;
}
footer h3{
    font-size: 0.75rem;
    line-height: 15px;
    text-align: center;
}
.more-info{
    display: grid;
    grid-template-columns: 1px 1fr 1px;
    gap: 1em 1em;
    grid-template-areas: 
    ". . ."
    ". A ."
    ". B ."
    ". C ."
    ". D ."
    ". E ."
    ". . .";
}
.more-info-header{
    grid-area: A;
}
.recent-posts-more-info{
    grid-area: B;
}
.post1{
    grid-area: C;
}
.post2{
    grid-area: D;
}
.post3{
    grid-area: E;
}
.more-info-header img{
    width: 100%;
    height: 191px;
    border-radius: 3px;
    margin: 2em 0;
}
.about-me img{
    width: 182px;
    border-radius: 50%
}

.more-info-article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.more-info-article h4,
.about-me-article h4{
    font-size: 1em;
    font-weight: 700;
    line-height: 20.11px;
    text-align: left;
}
.more-info-article span,
.about-me-article span{
    display: inline-block;
    margin-top: 1.25em;
}
.more-info h5,
.about-me h5{
  
    font-size: 1em;
    font-weight: 700;
    line-height: 20.11px;
    text-align: center;
}
.about-me{
    width: 93%;
    margin: 0 auto;
}
@media (min-width: 577px) {
    header{
        font-size: 1.3rem;
    }
    .header-icon{
        width: 50px;
        height: 50px;
    }
    nav li{
        font-size: 1.125rem;
    }
    .hero {
        position: relative; /* Makes the .hero the positioning context */
        height: 293px;
        width: 100%;
    }
    
    .hero-image {
        height: 100%;
        width: 100%;
        object-fit: cover; /* Ensures the image fits nicely */
    }
    
    .hero-article {
        position: absolute; /* Allows placement within .hero */
        bottom: 0; /* Aligns to the bottom */
        left: 0; /* Aligns to the left */
        padding: 10px; /* Adds spacing around the content */
        
    }
    .home{
        display: grid;
        grid-template-columns: 1px repeat(3, minmax(150px, 1fr)) 1px;
        gap: 1em 1em;
        grid-template-areas: 
        ". . . . ."
        ". A B C ."
        ". D E F ."
        ". . . . .";
    }
    .blog1{
        grid-area: A;
    }
    .blog2{
        grid-area: B;
    }
    .blog3{
        grid-area: C;
    }
    .blog4{
        grid-area: D;
    }
    .blog5{
        grid-area: E;
    }
    .blog6{
        grid-area: F;
    }
    .blog-more{
         display: none;
    }
    .blog4,
    .blog5,
    .blog6{
        display: block;
    }
    .more-info{
        display: grid;
        grid-template-columns: 1px repeat(3, minmax(150px,1fr)) 1px;
        gap: 1em 1em;
        grid-template-areas: 
        ". . . . ."
        ". A A A ."
        ". B B B ."
        ". C D E ."
        ". . . . .";
    }
    .more-info-header{
        grid-area: A;
    }
    .recent-posts-more-info{
        grid-area: B;
    }
    .post1{
        grid-area: C;
    }
    .post2{
        grid-area: D;
    }
    .post3{
        grid-area: E;
    }
    .more-info-header img{
        height: 488px; 
    }
    .about-me-div{
        display: grid;
        grid-template-columns: 1px repeat(3, minmax(150px,1fr)) 1px;
        gap: 1em 1em;
    }
    
    .about-me-article{
        grid-column: 2/5;
    }
    .recent-posts-about-me{
        grid-column: 3/4;
    }
    .about-me-sec-one{
        grid-column: 2/3;
    }
    .about-me-sec-two{
        grid-column: 3/4;
    }
    .about-me-sec-three{
        grid-column: 4/5;
    }
    .about-me{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    .about-me-header{
        width: 65%;
    }
}

